body {
  font-family: 'Segoe UI', sans-serif;
}

span {
  font-style: italic;
}

td {
  border-width: 3px;
  border-style: outset;
  border-color: bisque;
}

#masterParagraph {
  text-align: left;
  background-color: rgba(0, 128, 128, 0.1);
}

#domainParagraph {
  text-align: left;
  background-color: rgba(0, 128, 128, 0.1);
}

#personParagraph {
  text-align: left;
  background-color: rgba(0, 128, 128, 0.1);
}

#dogTextArea {
  height: 275px;
  width: 320px;
  background: url(ZeusMouthLight.jpg) center center no-repeat;
  font-weight: bold;
}

#tunesTable {
  height: 275px;
  width: 320px;
  background: url(HowlingLight2.jpg) center center no-repeat;
  font-weight: bold;
}

#tunesDimensions {
  height: 275px;
  width: 320px;
}
#tunesCell {
  width: 320px;
}

#barkButtonDiv {
  text-align: center;
  width: 100%;
}

#barkButton {
  margin-left: -20px;
}

#tunesButton {
  margin-left: -33px;
}

.column-layout {
  padding: 10px;
}
